/_ngo/
/_xmsgs/
/CPLD_Tester_html/
/xst/
/xlnx_auto_0_xdb/
/CPLD_Tester.bld
/CPLD_Tester.chk
/CPLD_Tester.cmd_log
/CPLD_Tester.cxt
/CPLD_Tester.gise
/CPLD_Tester.gyd
/CPLD_Tester.jed
/CPLD_Tester.log
/CPLD_Tester.lso
/CPLD_Tester.mfd
/CPLD_Tester.nga
/CPLD_Tester.ngc
/CPLD_Tester.ngd
/CPLD_Tester.ngr
/CPLD_Tester.pad
/CPLD_Tester.pnx
/CPLD_Tester.prj
/CPLD_Tester.rpt
/CPLD_Tester.stx
/CPLD_Tester.syr
/CPLD_Tester.tspec
/CPLD_Tester.vm6
/CPLD_Tester.xml
/CPLD_Tester.xst
/CPLD_Tester_build.xml
/CPLD_Tester_envsettings.html
/CPLD_Tester_ngdbuild.xrpt
/CPLD_Tester_pad.csv
/CPLD_Tester_summary.html
/CPLD_Tester_vhdl.prj
/CPLD_Tester_xst.xrpt
/t1.dat
/t1.phd
/t55.dat
/t55.phd
/t6.dat
/t6.phd
/webtalk_pn.xml
